:root{
    --color_oscuro: rgb(64, 47, 116);
    --color_claro: rgb(70, 107, 162);
    --color_enfasis: rgb(139, 189, 58);
    --color_realce: rgb(240, 142, 45);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Didact Gothic', sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
    align-items: center;
    align-self: center;
}

section{
    padding: 1em 10vw;
}

h1{
    font-weight: bold;
    color: var(--color_oscuro);
}

h2{
    font-size: 2em;
    margin-bottom: 0.5em;
}

h3{
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

a {
    cursor: pointer;
    text-decoration: none;
}

label{
    margin-bottom: 0.5em;
}

input{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1em;
    width: 75%;
    padding: 0.75em 1.5em;
    border: 0.25em solid var(--color_oscuro);
    border-radius: 0.25em;
    outline: none;
    background: none;
    transition: 0.2s;
}

input:hover{
    border: 0.25em solid var(--color_enfasis);
    transition: 0.2s;
}

input:focus{
    border: 0.25em solid var(--color_enfasis);
    transition: 0.2s;
}

textarea{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1em;
    width: 75%;
    padding: 0.75em 1.5em;
    border: 0.25em solid var(--color_oscuro);
    border-radius: 0.25em;
    outline: none;
    resize: none;
    background: none;
    transition: 0.2s;
}

textarea:hover{
    border: 0.25em solid var(--color_enfasis);
    transition: 0.2s;
}

textarea:focus{
    border: 0.25em solid var(--color_enfasis);
    transition: 0.2s;
}

select{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1em;
    width: fit-content;
    padding: 0.75em 1.5em;
    border: 0.25em solid var(--color_oscuro);
    border-radius: 0.25em;
    outline: none;
    cursor: pointer;
    background: none;
    transition: 0.2s;
}

select:hover{
    border: 0.25em solid var(--color_enfasis);
    transition: 0.2s;
}

select:focus{
    border: 0.25em solid var(--color_enfasis);
    transition: 0.2s;
}

button{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

table{
    width: 100%;
}

.tablaTitulo{
    font-weight: bold;
}

.migas{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.migas > h2{
    margin: 0;
    margin-left: 0.5em;
}

.migas > .boton{
    padding: 0.5em 1em;
}

.ocultar{
    display: none;
    visibility: collapse;
}

.logotipo{
    padding: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.logotipo > div{
    text-align: center;
}

.boton{
    width: fit-content;
    display: block;
    background: none;
    padding: 0.75em 1.5em;
    margin: 0.25em 0em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border: 0.25em solid var(--color_oscuro);
    border-radius: 0.25em;
    color: var(--color_oscuro);
    transition: 0.3s;
}

.boton:hover{
    background: var(--color_enfasis);
    border: 0.25em solid var(--color_enfasis);
    color: white;
    transition: 0.3s;
}

.botonBloqueado{
    border: 0.25em solid var(--color_realce);
    color: var(--color_realce);
    cursor: not-allowed;
}

.botonBloqueado:hover{
    background: #eee;
    border: 0.25em solid var(--color_realce);
    color: var(--color_realce);
    box-shadow: none;
}

.botonDerecha{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1em;
}

.botonera,
.botoneraIzquierda{
    display: flex;
    justify-content: flex-start;
}

.botonera > .boton,
.botoneraIzquierda > .boton{
    margin-right: 1em;
}

.botoneraDerecha,
.formularioBotonera,
.tarjetaBotonera{
    display: flex;
    justify-content: flex-end;
}

.botoneraDerecha > .boton,
.formularioBotonera > .boton,
.tarjetaBotonera > .boton{
    margin-right: 1em;
}

.contenedor{
    padding: 0em 10vw;
    max-height: auto;
}

.icono{
    height: 5em;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5em;
}

.toast{
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 0.25em solid var(--color_oscuro);
    border-radius: 0.25em;
    transition: 0.2s;
}

.toast:hover{
    border: 0.25em solid var(--color_realce);
    transition: 0.2s;
}

.toastCuerpo{
    margin: 0.5em 0em;
}

.toastBotonera{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0.5em 0em;
}

.toastIcono{
    align-self: center;
    margin: 0.5em 0em;
}

.toastTitulo{
    font-size: 1.5em;
    font-weight: bold;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 0.25em solid var(--color_oscuro);
    border-radius: 0.25em;
    transition: 0.2s;
    background: white;
}

.tarjeta:hover{
    border: 0.25em solid var(--color_realce);
    transition: 0.2s;
}

.tarjetaCuerpo {
    margin: 1em 0em;
    padding: 0em 2em;
}

.tarjetaImagen > img{
    width: 100%;
}

.tarjetaTitulo {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.tarjetaSubtitulo {
    font-weight: bold;
    margin-top: 0.5em;
}

.formularioElemento{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#usuario{
    width: fit-content;
    display: block;
    background: none;
    padding: 0.75em 1.5em;
    margin: 0.25em 0em;
    text-align: right   ;
    font-weight: bold;
    text-decoration: none;
    border: 0.25em solid white;
    border-radius: 0.25em;
    color: var(--color_oscuro);
}

#navegacion{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#logo{
    width: 5em;
    margin-right: 0.5em;
}

#botonFormulario{
    display: grid;
    margin-left: auto;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: fit-content;
}

@media screen and (min-width: 720px) {
    nav{
        flex-flow: row;
    }

    section{
        padding: 1em 10vw;
    }
    
    .boton{
        padding: .75em 2.5em;
    }

    .contenedor{
        display: flex;
        align-items: center;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
    }
    
    .logotipo{
        display: flex;
        flex-flow: row;
    }

    .logotipo > div{
        text-align: left;
    }
}

@media screen and (min-width: 1020px) {
    section{
        padding: 2em 15vw;
    }

    .contenedor{
        padding: 1em 5vw;
    }

    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1250px) {
    nav{
        padding-right: 1em;
    }

    #navegacion{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}