<section>
    <h2>Bienvenido {{nombre}} {{apellido}}</h2>
    <p>Estos son los paneles a los que tienes acceso:</p>
    <div id="modulos">
        <div class="grid" id="toast">
            <div class="toast">
                <img src="./../../assets/projects.svg" alt="Icono" class="iconos toastIcono">
                <p class="toastTitulo">Panel de proyectos</p>
                <p class="toastDescripcion">Agrega, actualiza o borra los proyectos que aparecen en la página principal.</p>
                <div class="botonDerecha">
                    <a class="botones" routerLink="/proyectos">Abrir</a>
                </div>
            </div>
            
            <div class="toast">
                <img src="./../../assets/machine.svg" alt="Icono" class="iconos toastIcono">
                <p class="toastTitulo">Panel de maquinarías</p>
                <p class="toastDescripcion">Agrega, edita, actualiza el estatus o borra las maquinarías de la empresa.</p>
                <div class="botonDerecha">
                    <a class="botones" routerLink="/maquinarias">Abrir</a>
                </div>
            </div>

            <div class="toast">
                <img src="./../../assets/clients.svg" alt="Icono" class="iconos toastIcono">
                <p class="toastTitulo">Panel de clientes</p>
                <p class="toastDescripcion">Este panel es un historial de clientes que rentaron maquinaría.</p>
                <div class="botonDerecha">
                    <a class="botones" routerLink="clientes">Abrir</a>
                </div>
            </div>

            <div class="toast">
                <img src="./../../assets/work.svg" alt="Icono" class="iconos toastIcono">
                <p class="toastTitulo">Panel de bolsa de trabajo</p>
                <p class="toastDescripcion">Agrega, actualiza o borra los proyectos que aparecen en la página principal.</p>
                <div class="botonDerecha">
                    <a class="botones" routerLink="/bolsaDeTrabajo">Abrir</a>
                </div>
            </div>

            <div class="toast">
                <img src="./../../assets/users.svg" alt="Icono" class="iconos toastIcono">
                <p class="toastTitulo">Panel de administración de usuarios</p>
                <p class="toastDescripcion">Agrega o borra usuarios que puedan administrar la página, también puedes ascender o revocar accesos a los paneles.</p>
                <div class="botonDerecha">
                    <a class="botones" routerLink="/usuarios">Abrir</a>
                </div>
            </div>
        </div>
    </div>
</section>
