h2{
    font-size: 2em;
    margin-bottom: 0.5em;
}

.toastTitulo{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

section{
    padding: 5em 10vw;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.botones{
    display: block;
    padding: 0.75em 1.5em;
    margin: 0.25em 0em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border: 0.25em solid var(--color_oscuro);
    border-radius: 0.25em;
    color: var(--color_oscuro);
    transition: 0.3s;
}

.botones:hover{
    background: var(--color_enfasis);
    border: 0.25em solid var(--color_enfasis);
    color: white;
    transition: 0.3s;
}

.botonBloqueado{
    border: 0.25em solid var(--color_realce);
    color: var(--color_realce);
    cursor: not-allowed;
}

.botonBloqueado:hover{
    background: white;
    border: 0.25em solid var(--color_realce);
    color: var(--color_realce);
    box-shadow: none;
}

.botonDerecha{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1em;
}

.iconos{
    height: 5em;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5em;
}

.toast{
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 0.25em solid var(--color_oscuro);
    border-radius: 0.25em;
    transition: 0.2s;
}

.toast:hover{
    border: 0.25em solid var(--color_realce);
    transition: 0.2s;
}

.toastIcono{
    align-self: center;
    margin-bottom: 1em;
}

.toastEnlace{
    color: var(--color_enfasis);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

#modulos{
    margin-top: 2em;
}

@media screen and (min-width: 720px) {
    section{
        padding: 2em 10vw;
    }
    
    .botones{
        padding: .75em 2.5em;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1020px) {
    section{
        padding: 5em 15vw;
    }

    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1250px) {

}