/* You can add global styles to this file, and also import other style files */

:root{
    --color_oscuro: rgb(64, 47, 116);
    --color_claro: rgb(70, 107, 162);
    --color_enfasis: rgb(139, 189, 58);
    --color_realce: rgb(240, 142, 45);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Didact Gothic', sans-serif;
}

a{
    cursor: pointer;
    text-decoration: none;
}